@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: myFirstFont;
    src: url();
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@layer base {
    select {
        appearance: none !important;
    }
}


/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 16px;
    /* display: none; */
}
 
/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9c4c4;
    border-radius: 5px;
    max-height: 30px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
    background: "";
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
}



@keyframes progressAnimation {
    0%{
        width: 1%;
    }

    25%{
        width: 25%;
    }

    to {
        width: 100%;
    }
}